// START 滚动条
@mixin scrollbar ($size: 7px, $color: #cecece, $bgcolor: #ececec) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  ::-webkit-scrollbar-track {
    background-color: $bgcolor;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 5px;
  }
}
// END 滚动条
