$--color-primary: #55c580;
$--color-success: #409eff;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;
$--color-disabled: #e0e1e2;

$--hover-color-primary: #f2f2f2;

$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;

$--border-color-dark: #a7b1c4;
$--border-color-base: #e4e7ed;
$--border-color-light: #ebeef5;
$--border-color-lighter: #f2f6fc;

